.App {
  text-align: center;
}

/* Custom App css*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagee {
  object-fit: scale-down;
  width: 180px;
  height: 180px;
}

.center {
  align-self: center;
  align-items: center;
}

#siteBrand {
  font-family: impact;
  letter-spacing: -1px;
  font-size: 32px;
  color: #252525;
  line-height: 1em;
}

#menuDrawer {
  background: #FFF;
  position: fixed;
  height: 100vh;
  overflow: auto;
  z-index: 12312;
  top: 0;
  left: 0;
  border-right: 1px solid #eaeaea;
  max-width: 16.6%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 200ms linear;
}

#mainNavigation {
  transition: transform 200ms linear;
  background: #fff;
}

.drawMenu>#menuDrawer {
  transform: translateX(0%);
}

p.nav-menu-item.active {
  margin-left: 2px;
  border-left: 10px solid red;
  color: red;
}

p.nav-menu-item:hover {
  margin-left: 2px;
  border-left: 10px solid red;
  color: red;
}

p.nav-menu-item {
  transition: border 200ms linear;
  text-decoration: none;
  display: block;
  padding: 18px;
  padding-left: 32px;
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
  color: black
}



button:hover {
  cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}